@charset "utf-8";

body {
    background-color: rgba(224, 137, 22, 0.884);
    color: rgb(46, 55, 73);
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: rgb(46, 55, 73);
    font-style: bold;
    text-shadow: 2px 2px 3px black;
    padding-bottom: 10px;
}
h2 {
  background-color: rgb(60, 93, 124);
  color:  rgb(233, 218, 80);
  font-style: bold;
  padding-bottom: 16px;
  padding-top: 16px;
}
h3 {
  background-color: rgb(80, 102, 122);
  color:  rgb(201, 135, 12);
}

.dropbtn {
    background-color: rgb(46, 55, 73);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d6d2ce;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
 
  .dropdown-content a:hover {
      background-color: rgb(80, 102, 122);
      color: rgb(201, 135, 12);
}
  
  
  .dropdown:hover .dropdown-content {display: block;}
  
  
  .dropdown:hover .dropbtn {
      background-color: rgb(58, 74, 88);
      color: orange
    }